@model Gestionale_Ospedaliero_e_Medico.Models.Ospedale

@{
    ViewData["Title"] = "Nuovo Ospedale";
}

<h1>Aggiungi Nuovo Ospedale</h1>

<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("Create", "Ospedale")" method="post">
            @Html.AntiForgeryToken()
            <div class="text-danger">@Html.ValidationSummary(true)</div>

            <div class="form-group mb-3">
                <label for="Nome" class="control-label">@Html.DisplayNameFor(m => m.Nome)</label>
                <input type="text" id="Nome" name="Nome" class="form-control" />
                @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                <label for="Sede" class="control-label">@Html.DisplayNameFor(m => m.Sede)</label>
                <input type="text" id="Sede" name="Sede" class="form-control" />
                @Html.ValidationMessageFor(m => m.Sede, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                <div class="form-check">
                    <input type="checkbox" id="Pubblico" name="Pubblico" value="true" class="form-check-input" />
                    <input type="hidden" name="Pubblico" value="false" />
                    <label for="Pubblico" class="form-check-label">@Html.DisplayNameFor(m => m.Pubblico)</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Ospedale")" class="btn btn-secondary">Torna alla Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
